.svg-card {
    width: 20px;
}

.div-card2 {
    display: flex;
    gap: 20px;
}

.border-card2 {
    border: 1px solid gray;
    width: 100%;
}

.number-card2 {
    font-size: 100px;
    color: white;
}

.title-card2 {
    color: white;
    margin-top: -10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-card2 {
    color: white;
    width: 250px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 600px;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
    gap: 40px;
    border: 1px solid blue;
    margin-top: -50px;
}


.button-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 7px;
    color: white;
}

.text2 {
    margin-top: -50px;
}

.button-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}