.about-container {
    height:max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.about-container-div{
    display: flex-col;
    justify-content: center;
    align-items: center;

}
.text-title{
    font-style: normal;
    color: blue;
}

.text-about, .text-title{
    font-size: 30px;
    width: 900px;
    text-align: start;
}

.text-sub{
    color: greenyellow ;
}
/*global*/
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 40px;
    font-size: 50px;
}
