.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}
.border-footer{
    width: 1020px;
    border: 1px solid #F6B312;
}
.footer-text{
    color: black;
    font-size: 20px;
}